.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  background: rgb(0, 33, 65);
}
.nav__brand {
  text-transform: uppercase;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__link:hover {
  text-decoration: none;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}
.main-logo-img {
  margin-top: -12px;
  width: 110px;
  height: 70px;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    gap: 0rem;
    padding: 20px;
  }
  .nav {
    height: 9vh;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 9vh;
    right: 0px;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 100;
  }
  .main-logo-img {
    margin-top: -10px;
    margin-left: -10px;
    width: 80px;
    height: 50px;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
